@charset "UTF-8";
.box1 {
	box-sizing: border-box;
	width:302px;
	height:32px;
	border: 1px solid rgb(211, 211, 211);
}

.box1-item1 {
	box-sizing: border-box;
	width: 60px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	color: rgb(161,161,161);
	background-color: rgb(247,247,247);
	float: left;
}

#box1-item1-1 {
	height: 31px;
	background-color: white;
	border-right: 1px solid rgb(211, 211, 211);
	color: black;
	font-weight: bolder;
	font-size: 16px;
}

.box2 {
	box-sizing: border-box;
	width: 302px;
	height: 62px;
	border-left: 1px solid rgb(211, 211, 211);
	border-right: 1px solid rgb(211, 211, 211);
}

.box2-text1 {
	box-sizing: border-box;
	width: 280px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid gray;
}

#box2-text1-1 {
	margin-top: 5px;
}

.box3 {
	box-sizing: border-box;
	width:302px;
	height: 132px;
	border: 1px solid rgb(211,211,211);
}

.box3-item1 {
	width:70px;
	height:70px;
	background-color: rgb(255, 68, 0);
	float: left;
	border: 10px solid rgb(255, 255, 255);
}

.box3-text1 {
	width:200px;
	height:20px;
	float: left;
	margin-top: 20px;
	border: 1px solid gray;
}
.box3-text2 {
	width:200px;
	height:20px;
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
	border: 1px solid gray;
}
.box3-item2 {
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: white;
	font-weight: bold;
	background-color: rgb(255, 68, 0);
	float: left;
}

#box3-item2-1 {
	margin-left: 20px;
	margin-right: 10px;
}

#box3-item2-2 {
	margin-left: 10px;
	margin-right: 20px;
}

.box4 {
	box-sizing: border-box;
	width: 302px;
	height: 42px;
	border-left: 1px solid rgb(211,211,211);
	border-right: 1px solid rgb(211,211,211);
}

.box4-text1 {
	box-sizing: border-box;
	width: 280px;
	height: 22px;
	border: 1px solid gray;
	margin-top: 9px;
	margin-left: 10px;
}

.box5 {
	box-sizing: border-box;
	width: 302px;
	height: 242px;
	background-color: rgb(0, 255, 0);
	border: 1px solid rgb(211,211,211);
}

.box5-item1 {
	box-sizing: border-box;
	width: 120px;
	height: 160px;
	float: left;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(211,211,211);
}

.box5-item1-1 {
	width: 40px;
	height: 80px;
	background-color: rgb(255, 68, 0);
	margin-top: 30px;
	margin-left: 40px;
}

.box5-item2 {
	box-sizing: border-box;
	width: 60px;
	height: 80px;
	background-color: white;
	float: left;
	border-left: 1px solid rgb(211,211,211);
}

.box5-item2-1 {
	width: 40px;
	height: 40px;
	background-color: rgb(255, 68, 0);
	margin-left: 10px;
	margin-top: 10px;
}

.box5 p {
	color: gray;
	font-size: 10px;
	text-align: center;
	margin: 0px; 
}

#box5-item2-s {
	border-bottom: 1px solid rgb(211,211,211);
} 

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-30 15:15:17
 * @version $Id$
 */
